<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <span class="text-danger">{{this.msg}}</span>
                    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Forgot password?</h4>
                        </div>
                        <div class="mb-3">
                          <span class="text-dark">Enter your Email</span>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="youremail@abc.com">
                          <input class='btn btn-outline-info' type="submit" value="Send for Reset">

                        </div>
                        <div class="row">
                            <div class="col-md-6 text-dark">
                                Back to <a [routerLink]="['../login']" routerLinkActive="active">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>