<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <span class="text-danger">{{this.msg}}</span>
                    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Reset Password</h4>
                        </div>
                        <div class="mb-3">
                            <span class="text-dark">Enter your new password</span>
                            <input type="password" class="form-control" name="password" [(ngModel)]="password" >
                            <input class='btn btn-outline-info' type="submit" value="Reset Password" [disabled]="disableSubmit"/>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>