    <section class="Contact">
    	<div class="content">
    		<h2 class="text-dark">Contact Us</h2>
    	</div>
    	<div class="container">
    		<div class="ContactInfo">
    			<div class="box">
    			<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
    			<div class="text">
    				<h3>Address</h3>
    				<p class="text-dark">Station-Road,<br>Collem-Goa,<br>403410</p>
    			</div>	
    			</div>
    			<div class="box">
    			<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
    			<div class="text">
    				<h3>Phone</h3>
    				<p class="text-dark">0832-2437728</p>
    			</div>	
    			</div>
    			<div class="box">
    			<div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
    			<div class="text">
    				<h3 align="left">Email</h3>
    				<p class="text-dark">tourdudhsagar@gmail.com</p>
    			</div>	
    			</div>
    			</div>
    			</div>
    </section>