<main>
    <section>
        <h3 class="text-dark">Welcome To Dudhsagar Tours</h3>
        <h2> <span class="change_content"></span> </h2>
    </section>
</main>
<div class="button-row" >
    <button mat-button input class='btn btn-outline-info' [routerLink]="'/bookinglist'">View Bookings</button>
    <button mat-button input class='btn btn-outline-info' [routerLink]="'/bookingsearch'">Search Bookings</button>
    <button mat-button input class='btn btn-outline-info'[routerLink]="'/bookingadd'">Add Booking</button>
    <button mat-button input class='btn btn-outline-info'[routerLink]="'/driveradd'">Add Driver</button>
    <button mat-button input class='btn btn-outline-info'[routerLink]="'/driverlist'">View Drivers</button>
    <button mat-button input class='btn btn-outline-info'[routerLink]="'/vehicleadd'">Add Vehicle</button>
    <button mat-button input class='btn btn-outline-info'[routerLink]="'/vehiclelist'">View Vehicle</button>
    <button mat-button input class='btn btn-outline-info'[routerLink]="'/bookingreport'">Booking Report</button>
</div>