<div class="text">
	<h1>Dudhsagar Waterfall Images</h1>
</div>
<div class="gallery">
	<a href="assets/images/Dudhsagar1.jpg"><img src="assets/images/Dudhsagar1.jpg"></a>
	<a href="assets/images/Dudhsagar2.jpg"><img src="assets/images/Dudhsagar2.jpg"></a>
	<a href="assets/images/Dudhsagar3.jpg"> <img src="assets/images/Dudhsagar3.jpg"></a>
	<a href="assets/images/Dudhsagar4.jpg"><img src="assets/images/dudhsagar.jpg"></a>
	<a href="assets/images/Dudhsagar5.jpg"><img src="assets/images/Dudhsagar5.jpg"></a>
	<a href="assets/images/Dudhsagar6.jpg"><img src="assets/images/Dudhsagar6.jpg"></a>
	<a href="assets/images/Dudhsagar7.jpg"><img src="assets/images/Dudhsagar7.jpg"></a>
	<a href="assets/images/Dudhsagar8.jpg"><img src="assets/images/Dudhsagar8.jpg"></a>
	<a href="assets/images/Dudhsagar9.jpg"><img src="assets/images/Dudhsagar9.jpg"></a>
	<a href="assets/images/Dudhsagar10.jpg"><img src="assets/images/Dudhsagar10.jpg"></a>
	<a href="assets/images/Dudhsagar11.jpg"><img src="assets/images/Dudhsagar11.jpg"></a>
	<a href="assets/images/Dudhsagar12.jpg"><img src="assets/images/Dudhsagar12.jpg"></a>
	<a href="assets/images/Dudhsagar13.jpg"><img src="assets/images/Dudhsagar13.jpg"></a>
	<a href="assets/images/Dudhsagar14.jpg"><img src="assets/images/Dudhsagar14.jpg"></a>

</div>